{% extends "layouts/app.twig" %}

{% block title %}Order Details{% endblock %}

{% block content %}
    {% include "includes/admin-navbar.twig" %}
    <div class="main-content">
         <div class="admin-sect padding-100px">
            <div class="admin-menu-list">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-between align-items-center flex-wrap">
                                <div>
                                    <h2>Order Confirmation</h2>
                                    <p>Confirm or Decline this order</p>
                                </div>
                                <div>
                                    {% if order.status.status is not same as('confirmed')  %}
                                        <form action="{{ url_for('order-confirm', { "order": order.id }) }}" class="btn lone-form" method="POST">
                                            <button class="btn-success btn-sm text-uppercase mb-2" type="submit"><i class="fa fa-check"></i> Confirm Order</button>
                                            <input type="hidden" name="_METHOD" value="PUT">
                                            {{ csrf | raw }}
                                        </form>
                                    {% endif %}

                                    {% if order.status.status is not same as('disapproved') %}
                                        <form action="{{ url_for('order-disapprove', { "order": order.id }) }}" class="btn lone-form" method="POST">
                                            <button class="btn-danger btn-sm text-uppercase mb-2" type="submit"><i class="fa fa-times"></i> Decline Order</button>
                                            <input type="hidden" name="_METHOD" value="PUT">
                                            {{ csrf | raw }}
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-lg-6 mb">
                                    {% for id, quantity in cart %}
                                      <div class="order-food-list mb-3">
                                        <div class="media">
                                            <div class="order-image-box mr-3">
                                                <img src="/images/menus/{{ menus[id].id }}.{{ menus[id].image_extension }}" class="card-img-top product-image" alt="{{ (menus[id].name ?? 'Item Deleted') | ucwords }}">
                                            </div>
                                            <div class="media-body">
                                                <h5 class="mt-0">{{ (menus[id].name ?? 'Item Deleted') | ucwords }}</h5>
                                                <p><span class="badge badge-info">Quantity: {{ quantity }}</span></p>
                                            </div>
                                         </div>
                                      </div>
                                    {% endfor %}
                                  
                                </div>
                                <div class="col-lg-6">
                                    <div class="order-list-confirm">
                                        <div class="order-detail-info">
                                            <p class="mb-0">Order Status</p>
                                            <h5>{{ order.status.status | ucwords }}</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Order ID</p>
                                            <h5>#{{ order.id }}</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Order Time</p>
                                            <h5>{{ orderTime }}</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Customer Name</p>
                                            <h5>{{ order.customer_name | ucwords }}</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Phone Number</p>
                                            <h5>{{ order.phone }}</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Delivery Location</p>
                                            <h5>{{ order.address_1 | ucwords }}</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Email Address</p>
                                            <h5>{{ order.email }}</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Amount</p>
                                            <h5>&#8358; {{ order.amount }} + &#8358; {{ number_format(order.delivery_fee, 2) }}</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Delivery Location</p>
                                            <h5>{{ order.delivery_location | ucwords }} Region</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Address 1</p>
                                            <h5>{{ order.address_1 | ucwords }}</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Address 2</p>
                                            <h5>{{ (order.address_2 ?? '-') | ucwords }}</h5>
                                        </div>
                                        <div class="order-detail-info">
                                            <p class="mb-0">Payment Reference</p>
                                            <h5>{{ order.payment_reference }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endblock %}